/*Polices d'écriture*/

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); /*Alpha Slab One serif*/





* {
    background-color: black;
    color: blueviolet;
}

div {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 400%;
}

.alpha-one {
    font-family: "Alfa Slab One", serif;
    font-style: normal;
}

li {
    list-style: none;
    width: 0;
}

div.top-page {
    background-color: blueviolet;
    width: 100%;
    height: 50%;
    color: black;
}